@font-face {
    font-family: MeineSchriftart;
    src: url(scr/WOBBLES_.ttf);
    font-weight: normal;
    font-style: normal;
    font-size: 10vh;
}
@media (max-width: 768px) {
    .container-left, .container-right {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;}
}
body {
    margin: 0;
    overflow: hidden;
    font-family: 'MeineSchriftart', sans-serif;
}
.background {
    background-image: url('images/wallpaper.jpeg'); 
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;
}
.container {
    max-width: 90%; 
    margin: 0;
    margin-left:5vh;
    padding: 1%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.container-left, .container-right {
    flex-basis: calc(35% - 15);
    margin-top: 4%; 
    padding: 1%;
    margin-bottom: 20px; 
}
.container-left {
    margin-right: 10px; 
}
.container-right{
    margin-left:10%;
}
.image-container {
    display: flex; 
    align-items: center; 
}
.description {
    margin-left: 15px;
    color: rgb(173, 168, 118);
    text-decoration: none;
}
.rounded-img{
    border-radius: 50%; 
    overflow: hidden; 
    width: 100px; 
    height: 100px;
    margin-bottom: 10%;
}
.link{
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: rgb(173, 168, 118);
}